<ul class="cards">
    {{#each cards}}
        <li class="card" data-card-id="{{id}}">
            <p class="card-name">{{name}}</p>
            <a href="/cards/{{id}}"><img src="{{pictureUrl}}" alt="picture of card {{name}}" /></a>
            <output>{{manaCost}}</output>
        </li>
    {{/each}}
    <a href="cards/new">Add Card</a>
  </ul>
